@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons';
@import "../../node_modules/vue-pro-calendar/dist/style.css";

:root {
    --theme: #e3eeedec;
    --primary: #00b9b5;
    --secondary: #e36159;
    --ternary: #8dc73f;
    --quaternary: #bd1c7c;
    --white: #f6f9fd;
    --first-color: #091226b5;
    --second-color: #281cb0;
    --third-color: #828282;
    --fourth-color: #404040;
    --last-color: #7b1bab;
    --input-color: #091226b5;
    --link-title: #00b9b5;
    --dropdown-bg: #f3e9e9b4;
    --dropdown-color: #3a3030;
    --dropdown-hover-color: #0ab4ca;
    --sugestions-bg: #fff;
    --sugestions-color: #091226b5;
    --footer-bg: #5cb659;
    --footer-color: #fff;
    --footer-hover: #3ee7cb;
    --nav-top-bg: #569ca4;
    --nav-top-color: #f0e9e9;
    --nav-top-hover-color: #51699c;
    --nav-left-bg: #312e2e;
    --nav-left-color: #222121;
    --nav-left-hover-color: #693838;
    --apps-title: #fff;
    --apps-bg: #4370aa;
    --app-color: #f7eded;
    --apps-hover-color: #2b2828;
    --apps-menu-bg: #fff;
    --apps-menu-color: #524949;
    --apps-shadow-color: #8f6868;
    --calendar-bg: #9797b6;
    --calendar-color: #faf7f7;
    --calendar-hover-color: #c7d0d1;
    --calendar-day-bg: #3ec2bb;
    --calendar-day-color: #fff;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    //   background-image: url("https://cloud.astian.org/build/assets/auth-bg-8529ec0e.svg");
    background-size: auto;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*******************text colors***********************/

.text-primary {
    color: var(--primary) !important;
}

.text-secondary {
    color: var(--secondary) !important;
}

.text-success {
    color: var(--ternary) !important;
}

.text-danger {
    color: var(--quaternary) !important;
}

.text-color {
    color: var(--first-color) !important
}

.text-title {
    color: var(--second-color) !important;
}

.text-body {
    color: var(--third-color) !important;
}

.text-link {
    color: var(--fourth-color) !important;
}

//variable de control de links
.link-active {
    color: var(--last-color) !important;
}

/**************text size*************************/
.text-sm {
    font-size: 0.8em;
}

.text-md {
    font-size: 1em;
}

.text-lg {
    font-size: 1.2em;
}

.text-xl {
    font-size: 3em;
}

.lighter {
    font-weight: lighter;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.devider {
    width: 100%;
    border-bottom: 1px solid;
    margin: 1%;
}


.mw-1 {
    max-width: 50%;
    min-width: 10%;
}

.mw-15 {
    max-width: 50%;
    min-width: 15%;
}

.mw-2 {
    max-width: 50%;
    min-width: 20%;
}

.mw-25 {
    max-width: 50%;
    min-width: 25%;
}

.mw-3 {
    max-width: 50%;
    min-width: 30%;
}

.mw-35 {
    max-width: 50%;
    min-width: 35%;
}

.mw-4 {
    max-width: 50%;
    min-width: 40%;
}

.mw-45 {
    max-width: 50%;
    min-width: 45%;
}

.mw-5 {
    max-width: 60%;
    min-width: 50%;
}

.mw-55 {
    max-width: 60%;
    min-width: 55%;
}

/***************background*********************/
.nav-top {
    background-color: var(--nav-top-bg);
    color: var(--nav-top-color);
    padding: 0%;
    margin: 0%;
}

.btn-primary {
    background-color: var(--primary) !important;
    color: var(--white) !important;
    border: none !important;
}

.btn-success {
    background-color: var(--ternary) !important;
    color: var(--white) !important;
    border: none !important;
}

.line-through {
    text-decoration: line-through;
}

.hide {
    display: none !important;
}

.ql-toolbar.ql-snow { 
    text-align: justify !important;
}