@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons';

:root {
    --theme: #e3eeedec;
    --primary: #00b9b5;
    --secondary: #e36159;
    --ternary: #8dc73f;
    --quaternary: #bd1c7c;
    --white: #f6f9fd;
    --first-color: #091226b5;
    --second-color: #281cb0;
    --third-color: #828282;
    --fourth-color: #404040;
    --last-color: #7b1bab;
    --input-color: #091226b5;
    --link-title: #00b9b5;
    --dropdown-bg: #f3e9e9b4;
    --dropdown-color: #3a3030;
    --dropdown-hover-color: #0ab4ca;
    --sugestions-bg: #fff;
    --sugestions-color: #091226b5;
    --footer-bg: #5cb659;
    --footer-color: #fff;
    --footer-hover: #3ee7cb;
    --nav-top-bg: #e36159;
    --nav-top-color: #464040;
    --nav-top-hover-color: #f5ebeb;
    --nav-left-bg: #fdf8f8;
    --nav-left-color: #222121;
    --nav-left-hover-color: #693838;
    --apps-title: #fff;
    --apps-bg: #44bba7c2;
    --app-color: #f8f6f6;
    --apps-hover-color: #333236;
    --apps-shadow-color: #8f6868;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://cloud.astian.org/build/assets/auth-bg-8529ec0e.svg");
    background-size: auto;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*******************text colors***********************/

.text-primary {
    color: var(--primary) !important;
}

.text-secondary {
    color: var(--secondary) !important;
}

.text-success {
    color: var(--ternary) !important;
}

.text-danger {
    color: var(--quaternary) !important;
}

.text-color {
    color: var(--first-color) !important
}

.text-title {
    color: var(--second-color) !important;
}

.text-body {
    color: var(--third-color) !important;
}

.text-link {
    color: var(--fourth-color) !important;
}

//variable de control de links
.link-active {
    color: var(--last-color) !important;
}

/**************text size*************************/
.text-sm {
    font-size: 0.8em;
}

.text-md {
    font-size: 1em;
}

.text-lg {
    font-size: 1.2em;
}

.text-xl {
    font-size: 3em;
}

/***************background*********************/